@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Jomhuria&display=swap');


:root {
    --cor-de-fundo: #ffffff;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
}

img {
    width: 10%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
}

/*https://www.figma.com/file/q9FnAMdvpvCbQCTrAH56WU/Untitled?type=design&node-id=0-1&mode=design&t=obhbsYWlYw4VWHiA-0*/



.whey {
    width: 250%;
}

.strap {
    width: 150%;
}

.roupas {
    width: 150%;
}

.halter {
    width: 150%;
}

.introducao {
    display: flex;
    background-color: white;
    border-radius: 100px;
    border: 3px solid rgba(18, 131, 62, 0.836);
    font-size: 50px;
    grid-template-columns: 25% 25% 25% 25%;
}

#EQUIPanaca {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 33%;
    font-size: 50px;
    text-align: center;
}

.introducao-foto {
    width: 70%;
}

.migueltraira {
    width: 70%;
}

.titulo {
    text-align: center;
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 120px;
}

span {
    color: #669839;
}

footer{
font-size: 30px;
text-align: center;
}

section{
    text-align: center;
    font-size: 70px;
    background-color: #669839;
}